$light_color: #fff;
$accent_color: #65E496;
$green_color: #65e4af;

$fs_es: 0.5rem;
$fs_sm: 0.875rem;
$fs_standard: 1rem;
$fs_md: 1.4rem;
$fs_xl: 2.5rem;
html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font: {
    family: 'Roboto Slab', serif;
  }
  background: $light_color;
}

a {
  text-decoration: none;
}

.wrap, .header {
  max-width: 990px;
  margin: 0 auto;
}

.page-main {
  background: url("../img/bg.png"), no-repeat;
  background-size: cover;
  padding-bottom: 130px;
}
.header {
  padding: 25px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: block;
    width: 116px;
    height: 28px;
    background: {
      image: url("../img/logo2.svg");
      repeat: no-repeat;
      size: contain;
    }
  }

  &-list {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;

    &__item {
      padding-bottom: 2px;
      margin-left: 16px;

      border-bottom: 2px solid transparent;
      transition: 0.5s;

      &:hover {
        border-bottom: 2px solid $accent_color;
      }

      font: {
        family: 'Open Sans', Serif;
      }
      letter-spacing: 0.5px;
    }

    &__item.active {
      border-bottom: 2px solid $accent_color;
    }

    &__link {
      color: $light_color;
      font-size: $fs_sm;
    }
  }
}

.block-book {
  padding-top: 120px;
  display: flex;
  justify-content: flex-start;

  &-demo {
    text-align: center;
    flex-basis: 390px;
    width: 370px;
    height: 558px;
    background: {
      image: url('../img/book-v2.svg');
      size: contain;
      repeat: no-repeat;
      position: left;
      position-y: 16px;
    }

    &__title {
      padding: 73px 0 250px 32px;
      letter-spacing: 1px;
      color: $light_color;
      font: {
        weight: 700;
        family: 'Roboto Slab', serif;
        size: 1.9rem;
      }

      span {
        display: block;
        color: $accent_color;
        letter-spacing: 0.01px;
        font: {
          family: 'Open Sans', Serif;
          weight: 300;
          size: 0.82rem;
        }
      }
    }

    &__footer {
      color: $accent_color;
      text-align: left;
      letter-spacing: 0.4px;
      padding-left: 75px;
      padding-top: 48px;
      font: {
        size: 0.75rem;
        family: 'Open Sans', Serif;
      }
    }
  }
}

.block-content {
  margin: 0;
  padding: {
    left: 45px;
  }
  flex-basis: calc(100% - 400px);

  &.block-content_theme-while {
    color: #44444f;
  }

  &.block-content_theme-green {
    color: $light_color;
  }

  &__name {
    font: {
      weight: 300;
      family: 'Open Sans', Serif;
      size: $fs_standard;
    }
    letter-spacing: 0.75px;
  }

  &__title {
    margin-top: 0;
    font: {
      size: $fs_xl;
      weight: 700;
    }
    letter-spacing: 2px;

    span {
      margin-top: 4px;
      color: $accent_color;
      font: {
        size: $fs_standard;
        weight: 300;
      }
      display: block;
      letter-spacing: 0.5px;
    }
  }

  &__body {
    padding-right: 80px;

    p {
      line-height: 1.35rem;
      letter-spacing: 0.05px;
      font: {
        family: 'Open Sans', Serif;
        size: $fs_sm;
        weight: 500;
      }
    }
  }

  &__btn {
    display: block;
    background-color: $accent_color;
    padding: 10px 0;
    margin-top: 40px;
    max-width: 215px;
    border-radius: 3px;
    color: $light_color;
    text-align: center;
  }

  small {
    display: block;
    margin-top: 20px;
    font: {
      size: $fs_es;
      style: italic;
    }
    letter-spacing: 1.3px;
  }
}

.block-author {
  padding: 138px 0;
  display: flex;
  justify-content: space-between;
  .block-content{
    padding-left: 0;
    &__name{
      font: {
        size: $fs_sm;
      }
      letter-spacing: 1.5px;
    }
    &__title{
      margin: 0;
      padding-bottom: 0;
      font-size: $fs_xl;
    }
    &__subtitle{
      margin-top: 0;
      letter-spacing: 0.35px;
      line-height: 26px;
      font-size: $fs_standard;
      font-weight: 400;
      &_text-success{
        color: $accent_color;
      }
    }
    &__body p{
      letter-spacing: 0.6px;
      padding: 12px 0 0 0;
      margin-bottom: 5px;
      margin-top: 0;
      font-family: 'Open Sans', Serif;
      font-size: 0.8rem;
      font-weight: 500;
    }
    &__btn{
      font-size: $fs_sm;
      font-weight: 300;
      background-color: $green_color;
      max-width: 200px;
      letter-spacing: 1px;
    }
  }
}
.block-avatar {
  position: relative;
  &__svg{
    position: absolute;
    right: 0;
    z-index: -1;
    width: 368px;
    height: 469px;
  }
  &__img{
    max-width: 370px;
    margin-top: 42px;
    margin-right: 40px;
  }
}
.block-counter{
  display: flex;
  justify-content: space-around;
  text-align: center;
  &__value{
    font-family: 'Roboto Slab', serif;
    display: block;
    color: $accent_color;
    font-size: 4.3rem;
    font-weight: 100;
  }
  &__description{
    margin: 5px 0 0 0;
    font-family: 'Open Sans', Serif;
    color: #696980;
    letter-spacing: 0.4px;
  }
}
