$light_color: #fff;
$accent_color: #01ec93;

$fs_es: 0.5rem;
$fs_sm: 0.875rem;
$fs_standard: 1rem;
$fs_md: 1.4rem;
$fs_xl: 2.5rem;
html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font: {
    family: 'Roboto Slab', serif;
  }
  background: $light_color;
}

a {
  text-decoration: none;
}

.page-main {
  background: url("../img/bg.png"), no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.header {
  padding: 25px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: block;
    width: 116px;
    height: 28px;
    background: {
      image: url("../img/logo2.svg");
      repeat: no-repeat;
      size: contain;
    }
  }

  &-list {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;

    &__item {
      padding-bottom: 2px;
      margin-left: 16px;

      border-bottom: 2px solid transparent;
      transition: 0.5s;

      &:hover {
        border-bottom: 2px solid $accent_color;
      }

      font: {
        family: 'Open Sans', Serif;
      }
      letter-spacing: 0.5px;
    }

    &__item.active {
      border-bottom: 2px solid $accent_color;
    }

    &__link {
      color: $light_color;
      font-size: $fs_sm;
    }
  }
}

.block-book {
  padding-top: 120px;
  display: flex;
  justify-content: flex-start;

  &-demo {
    flex-basis: 390px;
    width: 370px;
    height: 558px;
    background: {
      image: url('../img/book-v2.svg');
      size: contain;
      repeat: no-repeat;
      position: left;
      position-y: 16px;
    };
  }
}

.block-content {
  margin: 0;
  padding:{
    left: 45px;
  }
  color: $light_color;
  flex-basis: calc(100% - 400px);
  &__name {
    font: {
      weight: 300;
      family: 'Open Sans', Serif;
      size: $fs_standard;
    }
    letter-spacing: 0.7px;
  }

  &__title {
    margin-top: 0;
    font: {
      size: $fs_xl;
      weight: 700;
    }
    letter-spacing: 2px;

    span {
      margin-top: 4px;
      color: $accent_color;
      font: {
        size: $fs_standard;
        weight: 300;
      }
      display: block;
      letter-spacing: 0.5px;
    }
  }

  &__body {
    padding-right: 80px;
    p{
      line-height: 1.35rem;
      letter-spacing: 0.05px;
      font: {
        family: 'Open Sans', Serif;
        size: $fs_sm;
        weight: 500;
      }
    }
  }

  &__btn {
    display: block;
    background-color: $accent_color;
    padding: 10px 0px;
    margin-top: 40px;
    max-width: 215px;
    border-radius: 3px;
    color: $light_color;
    text-align: center;
  }
  small{
    display: block;
    margin-top: 20px;
    font:{
      size: $fs_es;
      style: italic;
    }
    letter-spacing: 1.3px;
  }
}


.wrap, .header {
  max-width: 990px;
  margin: 0 auto;
}